@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");
@import url("https://unpkg.com/material-components-web@latest/dist/material-components-web.css");
@import "@material/ripple/mdc-ripple";

@font-face {
  font-family: "KayakSans-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c1dc8e25f60e9000b4495ae/5c1dc9105f60e9000975d3ac/5c1dc913ade6e5000969c6a7/fonts/Kayak Sans Bold.otf") format("opentype");
}
@font-face {
  font-family: "KayakSans-Light";
  src: url("https://anima-uploads.s3.amazonaws.com/5c1dc8e25f60e9000b4495ae/5c1dc9105f60e9000975d3ac/5c1dc913ade6e5000969c6a7/fonts/Kayak Sans Light.otf") format("opentype");
}

.menu {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  float:right;
  color: rgba(0, 0, 0, 0.54);
  margin-top:2vh;
  clear:both;
  height: 6vh;
  width: 16vw;
  border-radius: 3px;
  padding-right: 10px;
  font-family: "Space Mono";
  font-weight: 100;
  font-size: 20px;
  text-align: right;
  cursor: pointer;
}

#break1{
	float:right;
	margin-top:3vh;
	width:12vw;
	height:1px;
	background-color:rgba(0, 0, 0, 0.07);
}

#email{
	@include mdc-ripple-surface;
	@include mdc-ripple-radius-bounded;
	@include mdc-states-hover-opacity(0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
	margin-top:5vh;
	font-family:'Space Mono';
	text-align:right;
	float:right;
	width:16vw;
	height:6.5vh;
	border-radius:3px;
	font-size:20px;
	padding-right:10px;
}

#insta{
	@include mdc-ripple-surface;
	@include mdc-ripple-radius-bounded;
	@include mdc-states-hover-opacity(0);
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor:pointer;
	text-align:right;
	margin-top:1vh;
	float:right;
	width:16vw;
	height:6.5vh;
	border-radius:3px;
	font-size:20px;
	padding-right:7px
}

#works {
  color: black;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.07);
}

#logo {
  margin-top:10vh;
  height: 90px;
  width: 108px;
}

#name {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: right;
  font-family: "KayakSans-Bold";
  font-size: 40px;
}

#break {
	float:right;
	width: 100px;
	height: 5px;
	background-color: black;
	margin-top:2vh;
    margin-bottom:2vh;
}

.work {
  width: 65vw;
  padding-left: 20px;
  padding-top: 5px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  background-color: white;
}

.work:hover {
  color: rgba(0, 0, 0, 0.87);
  border-radius: 8px;
}
