@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700");
.mdc-image-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.mdc-image-list__item,
.mdc-image-list__image-aspect-container {
  position: relative;
  box-sizing: border-box;
}

.mdc-image-list__item {
  list-style-type: none;
}

.mdc-image-list__image {
  width: 100%;
}

.mdc-image-list__image-aspect-container .mdc-image-list__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mdc-image-list__image-aspect-container {
  padding-bottom: calc(100% / 1);
}

.mdc-image-list__image {
  border-radius: 0;
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  border-radius: 0 0 0 0;
}

.mdc-image-list__supporting {
  color: rgba(0, 0, 0, 0.87);
  /* @alternate */
  color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 0;
  line-height: 24px;
}

.mdc-image-list__label {
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: 0.009375em;
  text-decoration: inherit;
  text-transform: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mdc-image-list--with-text-protection .mdc-image-list__supporting {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.mdc-image-list--masonry {
  display: block;
}
.mdc-image-list--masonry .mdc-image-list__item {
  break-inside: avoid-column;
}
.mdc-image-list--masonry .mdc-image-list__image {
  display: block;
  height: auto;
}

@font-face {
  font-family: "KayakSans-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c1dc8e25f60e9000b4495ae/5c1dc9105f60e9000975d3ac/5c1dc913ade6e5000969c6a7/fonts/Kayak Sans Bold.otf") format("opentype");
}
@font-face {
  font-family: "KayakSans-Light";
  src: url("https://anima-uploads.s3.amazonaws.com/5c1dc8e25f60e9000b4495ae/5c1dc9105f60e9000975d3ac/5c1dc913ade6e5000969c6a7/fonts/Kayak Sans Light.otf") format("opentype");
}
#right {
  width: 30vw;
  position: absolute;
  top: 10vh;
  left: 12vw;
  text-align: right;
  word-wrap: break-word;
}

.mdc-image-list {
  column-count: 2;
  column-gap: 0px;
  max-width: 70vw;
  position: relative;
  width: 45vw;
  left: 20vw;
  top: 8.5vh;
  margin-bottom: 100vh;
}
.mdc-image-list .mdc-image-list__item {
  margin-bottom: 0px;
}

#title {
  font-family: "KayakSans-Bold";
  font-size: 40px;
}

#overline {
  font-family: "Space Mono";
  font-weight: 600;
}

#prop {
  font-family: "Space Mono";
  font-weight: 600;
}

#desc {
  font-family: "Roboto";
  position: absolute;
  left: 9vw;
  width: 70%;
  margin-bottom: 10vh;
}

/*# sourceMappingURL=work.css.map */
